# server
api_host: :8299
tempdir_prefix: wxaudio

# format
default_decoder_format: mp3

# stroage usage: none/qiniu
storage_system: none

# qiniu config
qiniu_access_key: your qiniu config
qiniu_secret_key: your qiniu config
qiniu_zhiyakf_bucket: you bucket name
qiniu_zhiyakf_domain: you bucket domain
